.popover.item-popover{
    width:337px;
    max-width:auto;
    background: rgb(46,46,45);
    background: -moz-linear-gradient(top,  rgba(46,46,45,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(46,46,45,1) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(46,46,45,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2d', endColorstr='#000000',GradientType=0 );
    border: 1px solid #111;
}
.popover.item-popover.left > .arrow::after{
    border-left-color: #111111;
}
.popover.item-popover.right > .arrow::after {
    border-right-color: #111111;
}
.popover.stream-popover.left > .arrow::after{
    border-left-color: #111111;
}
.popover.stream-popover.right > .arrow::after {
    border-right-color: #111111;
}
.itemIconWithTooltip {
	position:relative;
}
.iconTooltip {
    line-height: 16px;
    /*
    position: absolute;
	text-align: left;
	float: left;
	border: solid #000 1px;
	background-color: #111;
    z-index: 100;
    width: 337px;
    */
}

.iconTooltip img {
	opacity: 1 !important;
}

.iconTooltip div:empty, .iconTooltip:hover {
	display: none !important;
}

/* specific tooltip style changes for item/ability/hero types */
.iconTooltip_item {
}
.iconTooltip_ability {
}
.iconTooltip_hero {
	width:auto;
	text-align:center;
}
.iconTooltip .itemIcon {
    float: left;
    height: 56px;
    margin-right: 15px;
    width: 74px;
    margin-bottom: 10px;
}
.iconTooltip .itemIcon img{
    border-radius:3px;
}
.iconTooltip .itemName {
	margin:7px 0px 3px 82px;
	color:#ffffff;
	font-size:16px;
	font-family:georgia,serif;
	text-transform:uppercase;
}
.iconTooltip .itemCMB {
	padding: 4px 0;
}
.iconTooltip .abilityName {
	margin:7px 0px 6px 0px;
	font-weight:normal;
	color:#ffffff;
	font-size:16px;
	font-family:georgia,serif;
	/*text-transform:uppercase;*/
}
.iconTooltip .abilityCMB {
	padding: 4px 0;
}
.iconTooltip .quality_rare {
	color:#1a87f9;
}
.iconTooltip .quality_artifact {
	color:#e29b01;
}
.iconTooltip .quality_secret_shop {
	color:#ffffff;
}
.iconTooltip .quality_consumable {
	color:#1d80e7;
}
.iconTooltip .quality_common {
	color:#2bab01;
}
.iconTooltip .quality_epic {
	color:#b812f9;
}
.iconTooltip .quality_component {
	color:#ffffff;
}
.iconTooltip .goldIcon {
	float:left;
	margin:2px 4px 0 0;
}
.iconTooltip .goldCost {
    color: #f5c433;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}
.iconTooltip .description {
    color: #c0c0c0;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.iconTooltip .notes {
    color: #6fe771;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 5px;
}
.iconTooltip .attribVal {
	color:#fbb040;
}
.iconTooltip .attribs {
    color: #7a7a7a;
    font-size: 13px;
    font-weight: bold;
    margin: 6px 0 15px 20px;
}
.iconTooltip .attribValText
{
	color:#c0c0c0;
}
.iconTooltip .lore {
    clear: right;
    color: #afafaf;
    font-size: 11px;
    padding: 4px 0 4px 2px;
    line-height: 14px;
}
.iconTooltip .mana {
	float:right;
	width:120px;
}
.iconTooltip .cooldownMana {
	color:#fbb040;
	font-size:13px;
	margin:8px 0 0 0;
	line-height:18px;
	padding-left:2px;
}
.iconTooltip .manaImg, .iconTooltip .cooldownImg {
	margin:0 6px 10px 0;
	display:block;
	float:left;
}
.iconTooltip .abilityHR1, .iconTooltip .abilityHR2 {
	background-repeat:no-repeat;
	height:2px;
	min-width:320px;
	margin:5px 0px;
	background-image:url( '../../../cdn.dota2.com/apps/dota2/images/tooltips/abil_hr_1.png' );
}
.iconTooltip .abilityHR2 {
	background-image:url( '../../../cdn.dota2.com/apps/dota2/images/tooltips/abil_hr_2.png' );
}
.iconTooltip .abilityTarget {
    color: #ffffff;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding: 7px 0;
}
.iconTooltip .abilityTarget .attribVal {
	color:#ffffff;
}
.iconTooltip .abilityDmg .attribVal, .iconTooltip .abilityAttrib .attribVal {
	color:#888888;
}
.iconTooltip .abilityDesc {
    color: #c6c6c6;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    margin-bottom: 6px;
    padding: 4px 0;
}
.iconTooltip .abilityNotes {
	color:#6fe771;
	line-height:15px;
	font-size:12px;
	margin-bottom:6px;
	font-weight:bold;
}
.iconTooltip .abilityDmg, .iconTooltip .abilityAttrib {
    color: #c6c6c6;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 4px 0;
}
.iconTooltip .abilityCMB .mana,.iconTooltip .abilityCMB .cooldown {
	color:#777777;
	font-family: arial, helvetica, sans-serif;
	font-weight:normal;
}
.iconTooltip .abilityLore {
	color:#a8a8a8;
	font-family: arial, helvetica, sans-serif;
	font-size:11px;
	line-height:16px;
	text-align:left;
}


/* hero tips */
.iconTooltip .heroPrimaryStats {
	width:180px;
	height:62px;
	position:relative;
	margin:0 auto;
	overflow:visible;
}
.iconTooltip .overviewIcon_Primary {
	position:absolute;
	left:-1px;
	/*top:83px;*/
	z-index:4;
}
.iconTooltip .overviewIcon_Int {
	position:absolute;
	left:1px;
	top:2px;
	z-index:5;
}
.iconTooltip .overviewIcon_Agi {
	position:absolute;
	left:1px;
	top:23px;
	z-index:5;
}
.iconTooltip .overviewIcon_Str {
	position:absolute;
	left:1px;
	top:44px;
	z-index:5;
}
.iconTooltip .overviewIcon_Attack {
	position:absolute;
	left:104px;
	top:2px;
}
.iconTooltip .overviewIcon_Speed {
	position:absolute;
	left:97px;
	top:23px;
}
.iconTooltip .overviewIcon_Defense {
	position:absolute;
	left:102px;
	top:44px;
}
.iconTooltip .overview_StatVal {
	position:absolute;
	font-size:14px;
	font-weight:bold;
}
.iconTooltip .overview_IntVal {
	top:2px;
	left:21px;
}
.iconTooltip .overview_AgiVal {
	top:23px;
	left:21px;
}
.iconTooltip .overview_StrVal {
	top:44px;
	left:21px;
}
.iconTooltip .overview_AttackVal {
	top:2px;
	left:133px;
}
.iconTooltip .overview_SpeedVal {
	top:23px;
	left:133px;
}
.iconTooltip .overview_DefenseVal {
	top:44px;
	left:133px;
}
.iconTooltip .primaryVal {
	color:#fefefe;
}
.iconTooltip .heroName {
	text-align:center;
	padding-bottom:2px;
	font-family: georgia,serif;
	font-weight:normal;
	/*text-transform:uppercase;*/
	letter-spacing:2px;
	font-size:16px;
	color:#d9d9d9;
}
.iconTooltip .heroRoles {
	text-align:center;
	color:#939393;
	font-family: arial,helvetica,sans-serif;
	font-size:12px;
	padding:4px 0 6px 0;
}
.iconTooltip .heroAttackCability {
	color:#ffffff;
}


/* Stream tip*/
.streamtip{
    text-align:center;
}
.streamtip b {
    color: #91cdd7;
    font-weight: 300;
}
.streamtip td {
    padding: 0px 2px;
    vertical-align: middle;
}
.streamtip u {
    font-size: 18px;
    font-style: normal;
    text-decoration:none;
}
.streamtip small {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    max-width: 95px;
    overflow: hidden;
    padding: 3px 3px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.streamtip > table {
    width: 100%;
}
.streamtip > table.ttt{
    border-collapse: unset;
    border-spacing: 2px;
}
.streamtip .heroava {
    margin: 0;
    box-shadow:none;
}
.streamtip td:first-child .heroava {
    display: block;
    float: right;
}
.streamtip td:last-child .heroava {
    display: block;
    float: left;
}
.popover-title {
    background-color: transparent;
    border-bottom: 1px solid #2D2D2D;
}
.streamtip time {
    border: 1px solid #333333;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    padding: 4px 7px;
}
.streamtip thead td {
    background: rgba(50, 53, 55, 0.48) none repeat scroll 0 0;
    font-size: 12px;
    line-height: 12px;
    padding: 3px;
}
.streamtip thead tr:first-child td {
    padding-top: 7px;
}
.stream-popover .popover-content {
    padding: 0;
}
.popover.stream-popover{
    width:330px;
    max-width:auto;
    background: rgb(46,46,45);
    background: -moz-linear-gradient(top,  rgba(46,46,45,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(46,46,45,1) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(46,46,45,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2d', endColorstr='#000000',GradientType=0 );
    border: 1px solid #111;
    max-width: 315px;
}
.streamtip .heroava img{
    width:32px;
}
.streamtip .radiant{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#89ff91+0,2cba25+100&0+0,0.09+43,0.2+100 */
    background: -moz-linear-gradient(left,  rgba(137,255,145,0) 0%, rgba(97,225,99,0.09) 43%, rgba(44,186,37,0.2) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(137,255,145,0) 0%,rgba(97,225,99,0.09) 43%,rgba(44,186,37,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(137,255,145,0) 0%,rgba(97,225,99,0.09) 43%,rgba(44,186,37,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089ff91', endColorstr='#332cba25',GradientType=1 ); /* IE6-9 */
    padding-right:0px;
    width:50%;
}
.streamtip .dire{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3232+0,ff0000+100&0.2+0,0.09+57,0+100 */
    background: -moz-linear-gradient(left,  rgba(255,50,50,0.2) 0%, rgba(255,22,22,0.09) 57%, rgba(255,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,50,50,0.2) 0%,rgba(255,22,22,0.09) 57%,rgba(255,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,50,50,0.2) 0%,rgba(255,22,22,0.09) 57%,rgba(255,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ff3232', endColorstr='#00ff0000',GradientType=1 ); /* IE6-9 */
    padding-left:0px;
    width:50%;
}
.streamtip .fa.fa-clock-o {
    position: relative;
    top: -1px;
}
/* end Stream tip*/